/*svg {
}*/

/*path {
    fill: rgba(200,150,255,0.75);
}
*/
/*.layer-1 {
    position:absolute;
    top:0px;
    left:0px;
    z-index:0;
    background:black;
}
.layer-2 {
    position:absolute;
    top:0px;
    left:0px;
    z-index:2;
    background:black;
}

button {
    background-color:black;
    width:250px;
    height:100px;
    font-size:32px;
}*/